body {
    /* padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: black;
    background: gray; */
    
    
  }
  
  header {
    /* background: whitesmoke;
    height: 50px; */
  }
  p{
    /* text-align:justify;
    line-height: 95%; */

  }
  h1 {
    /* padding: 20px; */
    /* margin-left: 20%; */
    /* margin-bottom: 20px; */
    /* font-size: 28px;
    color: white;
    text-align: center; */
    /* background-color: aquamarine; */
    /* width: 10%; */
  }
  .nameBox
  {
    /* margin-left: 20%;

      background-color: aquamarine;
      width: 10%;
      text-align: center;
    height: 50px; */

  }
  h2 {
    /* font-size: 24px; */
  }
  
  a {
    /* color: red; */
  }
  
  .container {
    /* width: 1024px; */
    /* margin: 0 auto; */
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    /* float: left; */
  }
  
  #main-bio {
    /* width: 55%; */
  }
  
  #contact-info {
    /* width: 30%;
    padding: 10px; */
  }
  
  #bio-image {
    /* width: 200px;
    height: 200px;
    margin-right: 20px; */
  }